In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import sqlite3

In [3]:
#SQLite block creating SQL tables
myengine = create_engine("sqlite:///authors_publications.sqlite")
connection = myengine.connect() #connecting to engine
inspector = inspect(myengine)

In [ ]:
connection.execute('''CREATE TABLE newtable (col1 INT, col2 FLOAT, col3 STRING)''')

In [4]:
print(inspector.get_table_names())#check the table names

['newtable', 'nobelscientists']

In [ ]:
#create new table in SQL database
connection.execute('''CREATE TABLE nobelscientists (col1 INT, col2 STRING, col3 STRING, col4 INT, col5 STRING, col6 STRING)''')

In [5]:
#check column names
cols = inspector.get_columns("nobelscientists")
nameCols = []
for col in cols:
    nameCols.append(col['name'])
nameCols

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [ ]:
#convert a CSV file to a SQL table
tablename = "nobelscientists"
filepath = "/files/science10years.csv"
#WITH (FIRSTROW = 2,  FIELDTERMINATOR = ',', ROWTERMINATOR='\n');